@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Oswald:wght@200;300;400;500;600;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0c0b0b;
    color: white;
    font-family: 'Oswald', sans-serif;
    /*скрывает, что ушло за блоки  */
    overflow-x: hidden ;
}
input
{
    all: unset;
}
ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}
a
{
    color: white;
    text-decoration: none;
}
img
{
    width: 100%;
    height: 100%;
}
.default-container
{
    max-width: 1716px;
    margin: auto;
}
header
{
    /* background-color:; */
    position: sticky;
    top: 0;
    z-index: 10;
}
header .header-nav
{
    display: flex;
    height: 56px;
}
header .header-nav ul
{
    display: flex;
    align-items: center;
    position: relative;

}
.header-nav-elements
{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

ul.second-menu>li>a
{
    padding: 0 0 0 17px;
}
ul.second-menu>li:last-child
{
    margin-left: 17px;
}
ul.second-menu>li:last-child>a
{
    border: solid 1px white;
    width: 80px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
ul.second-menu>li:nth-last-child(2)
{
    margin-left: 100px;
}
ul.second-menu>li:first-child>a::after
{
    content:'';
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #ff3c00;
    left: 64px;
    bottom: 26px;
}
ul.second-menu>li:first-child>a
{
    margin-right: 10px;
    
}
main
{
    /* height: 100vh; */
}
.main-slider-image
{
    position: absolute;
    top: 0;
        /* Загуглить потом */
    object-fit: cover;
    object-position: top;
}
.hero-movies
{
    height: 75vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end ;
    z-index: 1;
}
.hero-movies>p:first-child
{
    font-size: 64px;
    font-weight: bold;
    padding: auto;
}
.hero-movies>p:nth-child(2)
{
    font-size: 15px;
    padding-bottom: 0px;
}
button
{
    width: 209px;
    height: 57px;
    font-size: 20px;
    background-color: #ff501a;
    color: white;
    border: none;
}
button:hover
{
    cursor: pointer;
}
.next-main-slider-dots
{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.next-main-slider-dots>span
{
    width: 13px;
    height: 13px;
    background-color: #808080;
    z-index: 4;
    margin: 0 0 0 13px;
    border-radius: 50%;
}
.next-main-slider-dots>span.active
{
    background-color: #dfdfdf;
}
.fader-bg
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.fader-bg .fader-gradient-0
{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.01) 77.36%, rgba(0, 0, 0, 0.01) 77.36%, #0C0B0B 96.82%);
    position: absolute;
}
.fader-bg .fader-gradient-1
{
    width: 100%;
    height: 100%;
    background: linear-gradient(277.92deg, rgba(0, 0, 0, 0) 7.66%, rgba(0, 0, 0, 0.88) 89.67%);
}

.posters-now
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(277px, 1fr));
    gap: 10px;
}
.poster-now
{
    min-width: 277px;
    min-height: 155px;
    transform: 250ms all;
    z-index: 2;
}
.poster-now-labels
{
    font-size: 16px;
}
.poster-now-labels>p:first-child
{
    font-size: 13px;
    color: #7e7e7e;
}
.poster-now:hover
{
    transform: scale(1.08);
    cursor: pointer;
}

.label-p
{
    font-size: 20px;
    position: relative;

}
.posters
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(237px, 1fr));
    gap: 9px;
}
.poster
{   
    width: auto;
    min-width: 237px;
    height: 350px;
    position: relative;
    transition: 250ms all;
}
.poster:hover
{
    cursor: pointer;
    transform: scale(1.08);
}
.poster:hover>a::after
{
    content:' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/icon-play.svg);
    background-repeat: no-repeat;
    background-position: center;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
}
footer
{
    margin-top: 257px;
}
.footer-wrapper
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(181px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
}
.default-container>p
{
    margin-top: 62px;
    margin-bottom: 19px;
}
.f-item p
{
    color: #6a6a6a;
    font-size: 18px;
}
.footer-social
{
    margin-top: 42px;
}
.footer-social p
{
    color: #6a6a6a;
    font-size: 18px;
}
.footer-social a>img 
{
    width: 32.57px;
    height: 32.2px;
    margin-top: 8px;
    margin-right: 16px;
}
.footer-copy-text
{
    font-size: 14px;
    color: #6a6a6a;
    padding: 36px 0 6px 0;
}
.second-menu-mobile
{
    display: none;
    position: absolute;
    width: 100%;
}

nav.nav-desktop
{
    display: none;
}
nav.nav-mobile
{
    display: none;
    background-color: black ;
}

.player
{
    position: relative;
    width: 100%;

}
.player::after
{
    display: block;
    content: '';
    padding-top: 56.25%;
}
.player iframe
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.tabs-titles
{
    display: flex;
    margin-top: 20px;

}
.tabs-titles>li
{
 padding-right: 45px;   
 font-size: 20px;
 cursor: pointer;
}

.tabs-titles li.active
{
    font-weight: 600;
}
.tabs
{
    margin-top: 21px;
}
.tabs p 
{
    color: white;
}
.tabs p:last-child
{
    padding-top: 24px;
    color: #878787;
}


.login 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}

.login .form-container
{
    width: 556px;
    height: auto;
    background-color: #161515;
    padding: 26px 70px 26px 70px;
}

.login .form-container>p:first-child
{
    text-align: center;
    font-size: 24px;
    color: #b8b8b8;
}

.login .form-container>form
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login .form-container>form>input{
    height: 42px;
    background-color: #404040;
    margin-bottom: 24px;
}
.login .form-container>form>label
{
    font-size: 17px;
    color: #3a3a3a;
}
.login .form-container>form>input[type="submit"]{
    background-color: #ff501a;
    width: 136px;
    text-align: center;
    margin: auto;
    cursor: pointer;
    font-size: 20px; 
    margin-top: 57px;
    margin-bottom: 20px;
}
.login .form-container>p:last-child
{
    text-align: center;
    font-size: 15px;
    color: #747474;
}
.login .form-container>p:last-child>span
{
    text-align: center;
    font-size: 15px;
    color: #c1c1c1;
}
.login>p
{
    font-size: 15px;
    color: #747474;
    margin-top: 20px;
}
.login>p>span
{
    font-size: 15px;
    color: #c1c1c1;
}

@media (min-width: 1200px)
{
    nav.nav-desktop
    {
    display: block;
    }
}
@media (max-width: 1199px)
{
    nav.nav-mobile
    {
    display: block;
    }
    .header-nav-elements-mobile>ul:first-child 
    {
        display: flex;
        justify-content: space-between;
        padding: .5rem;
    }
    .header-nav-elements-mobile>ul:last-child 
    {
        background-color: #434343;
        text-align: center;
        padding: 32px;
        
    }
    .second-menu-mobile>li 
    {
        padding-bottom: 19px;
    }
    .mobile-button
    {
        cursor: pointer;
    }
}

@media (max-width: 376px)
{
    .hero-movies {
        justify-content: center;
        align-items: center;
    }

    .hero-movies>p:first-child {
        text-align: center;
        font-size: 2rem;
    }

    .hero-movies>p:nth-child(2) {
        font-size: .7rem;
        text-align: center;
    }

    button {
        width: auto;
        height: auto;
        font-size: 0.7rem;
        padding: .5rem;
    }

    .next-main-slider-dots
    {
        justify-content: center;
    }
    /* posters */
    .posters-now {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }
    
    .poster-now {
        min-width: auto;
        min-height: auto;
    }

    .posters {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }
    
    .poster {
        min-width: auto;
        min-height: auto;
    }

    footer {
        text-align: center;
    }
}
@media (max-width: 667px)
{
    .hero-movies
    {
        justify-content: center;
        align-items: center;
    }
    .hero-movies>p:first-child
    {
        text-align: center;
        font-size: 3rem;
    }
    .hero-movies>p:nth-child(2)
    {
        text-align: center;
        font-size: 0.8rem;
        margin-bottom: 40px;
    }
    button 
    {
        width: auto;
        height: auto;
        font-size: 1rem;
        padding: .7rem;
        font-size: .7rem;
        margin-bottom: 100px;
    }
    .next-main-slider-dots
    {
        justify-content: center;
    }
    .login
    {
        margin-top: 70px;
        height: auto;
    }
    .login .form-container
    {
        width: auto;
        margin: auto;
    }
}
@media(max-width: 1723px) {
    .default-container {
        padding: 0 2% 0 2%;
    }
}