
        *
        {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .btn
        {
            background: black;
            display: block;
            color: white;
            text-decoration: none;
            padding:  1rem 1.5rem;
            margin: 2rem;
            font-size: 0.8rem;
        }
        header
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            text-align: center;
           
            background: #222 url(/pict/kisspng-cafe-chocolate-covered-coffee-bean-espresso-5aeee25cddd876\ 1.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            color: white;
            font-size: 2rem;
            font-weight: 700;
            /* подходит для background растягивает его с адаптацией */
            /* h-height - т е вертикаотно */
            height: 100vh;
            /* горизонтально */
            /* width: 100vw; */
        }
        section
        {
            height: 400px;
        }